<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <title>Oxford University</title>
</head>
<body>

<main>
    <header>
        <img src="../static/images/city.jpg" th:src="@{/images/city.jpg}" alt="student banner"/>
        <h2>Oxford University</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.html" th:href="@{/}">About Us</a></li>
            <div class="dropdown">
                <li>
                    <a onclick="show_menu('Courses')" class="dropdownlink">Available Courses</a>
                </li>
                <div id="Courses" class="menuitems">
                    <li><a href="maths.html" th:href="@{/maths}">Mathematics</a></li>
                    <li><a href="physics.html" th:href="@{/physics}">Physics</a> </li>
                    <li><a href="mechaelectrical.html" th:href="@{/mechaelectrical}">Mechanical and electrical Engineering</a> </li>
                    <li><a href="medicine.html" th:href="@{/medicine}">Medicine</a> </li>
                    <li><a href="mechanical.html" th:href="@{/mechanical}">Mechanical</a> </li>
                    <li><a href="chemistry.html" th:href="@{/chemistry}">Chemistry</a></li>
                    <li><a href="compscience.html" th:href="@{/compscience}">Computer Science</a> </li>
                    <li><a href="law.html" th:href="@{/law}">Law</a> </li>
                    <li><a href="economics.html" th:href="@{/economics}">Economics and Management</a> </li>
                    <li><a href="biology.html" th:href="@{/biology}">Biology</a> </li>
                    <li><a href="neuroscience.html" th:href="@{/neuroscience}">Neuroscience</a></li>
                    <li><a href="politics.html" th:href="@{/politics}">Politics</a> </li>
                    <li><a href="biomedical.html" th:href="@{/biomedical}">Biomedical Science</a> </li>
                    <li><a href="nutrition.html" th:href="@{/nutrition}">Nutrition</a> </li>
                    <li><a href="moleculargen.html" th:href="@{/moleculargen}">Molecular Genetics</a> </li>

                </div>
            </div>
            <div class="dropdown">
                <li>
                    <a onclick="show_menu('Universities')" class="dropdownlink">Universities</a>
                </li>
                <div id="Universities" class="menuitems">
                    <li><a href="aberdeen.html" th:href="@{/aberdeen}">Aberdeen University</a> </li>
                    <li><a href="kings.html" th:href="@{/kings}">King's College</a> </li>
                    <li><a href="oxford.html" th:href="@{/oxford}">Oxford University</a> </li>


                </div>
            </div>

            <li><a href="register.html" th:href="@{/register}">Register</a></li>
            <li><a href="apply.html" th:href="@{/apply}">Apply</a></li>
            <li><a href="profile.html" th:href="@{/profile}">My Student Profile</a></li>
        </ul>

    </nav>
    <article>
        <p>Organisations</p>

        <p>Oxford has a distinctive collegiate structure. Students and academics benefit from belonging both to the University, a large, internationally-renowned institution, and to a college or hall, a small, interdisciplinary academic community.</p>



        <p>Admissions</p>
        <ul>

            <li>The undergraduate admissions process is co-ordinated by the University, but colleges are ultimately responsible for selecting and admitting their undergraduate students.
                The University admits graduate students, but once they have been offered a place by the University, graduate students are also selected by a college. </li>

        </ul>

        <p>Teaching</p>
        <p>Colleges organise tutorial teaching for undergraduates. Tutorials are central to studying at Oxford, giving students an opportunity to discuss and explore their subject in small groups with an expert in the field.
            The University supervises graduate students and examines graduate theses.
            The University determines the content of degree courses, and organises lectures, seminars and lab work for both undergraduate and graduate students.
            The University sets and marks examinations, and awards degrees to students.</p>

    </article>

    <section class="images">
        <img src="../static/images/oxford/Oxford.jpg" th:src="@{/images/oxford/Oxford.jpg}" alt="Oxford 1"/>
        <img src="../static/images/oxford/oxfLogo.png" th:src="@{/images/oxford/oxfLogo.png}" alt="Logo 2"/>

    </section>

    <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bDCQuYtSeLQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>

    <footer>
        &copy; G. Laaz 2019
    </footer>
</main>
</body>
</html>